@media only screen and (min-width: 360px) {

body {
}


h5 {

}
/*To be used for red links*/
.light-red {
  color: #DC3545;
}

.light-red:hover {
  color: #BE2C37;
}

/*Loader*/
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
.loader-wrapper-blue {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00529B;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2000;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}

@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}
/*Loader End*/

.container .content {
  /*
  background-color: #FFFFFF;
  border-radius: 0px 4px 5px 0px;
  padding-bottom: 3rem;
  box-shadow: 0 2px 0 rgba(0,0,0,0.1)
  */
}

.container .content .row {
}

.container .content .card {
  /*Styles copied from Khan Academy, card margins
  overlap so 12px instead of 6px*/
  padding: 24px 24px 28px 24px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.container .content .topic-list {
  margin: 0px 14px 0px 14px;
}

.red-overlay {
  background-color: rgba(190, 44, 55, 0.9);
  z-index: 1;
}

.blue-overlay {
  background-color: rgba(0, 82, 155, 0.9);
  z-index: 1;
}

.card-img-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-card-height {
  max-height: 550px;
}

.main-content {

}

.topic-button {
  border-radius: 100px;
}

.btn-watch {
  color: #d4d9dd;
}

.btn-watch i {
  margin-right: 2px;
}

.btn-watch:hover {
  transition: 200ms;
  color: #ffffff;
  background: none;
  text-decoration: none;
}

.open {
  margin-top: 0.25rem;
}

.open a:hover {
  text-decoration: none;
}

.video-list {
  margin-left: 78px;
}

.video-list .list-group .list-group-item {
  font-weight: 500;
  padding-left: 0px;
  border: none;
}

.video-list .list-group .list-group-item .d-inline-flex p {
  color: #6a787c;
}

.video-list .list-group .list-group-item .d-inline-flex:hover > p {
  text-decoration: none;
  cursor: pointer;
  transition: 200ms;
  color: #384047;
}

.video-list .list-group .list-group-item .d-inline-flex:hover > .play-blue {
  transition: 200ms;
  color: #00529B;
}

.video-list .list-group .list-group-item .d-inline-flex:hover > .play-red {
  transition: 200ms;
  color: #BE2C37;
}

.video-list .list-group .list-group-item:first-child {
  /*border-top: 1px solid rgba(0, 0, 0, 0.125);*/

}



.video-list .list-group .list-group-item p {
  margin-bottom: 0px;
  margin-left: 0.5rem;
}

.video-list .list-group .list-group-item .badge {
  vertical-align: middle;
}

.video-list .list-group .list-group-item .d-inline-flex p:hover ~ i{
  transition: 200ms;
  color: #00529B;
}

/*Modals*/
.modal-body {
  padding: 0px;
}

.modal-body {
  max-height: calc(100vh - 225px);
}

.modal-title {
  font-size: 1.5rem;
}

.description {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.list-group .prev-modal:first-child {

}


/*Adjust fontawesome checkmark colour*/
.list-check {
  color: #D4D9DD;
}

/*Topic Icons*/

.topic-list {
  border-bottom: 2px solid #F2F2F2;
  padding: 1rem 0rem 1rem 0rem;
}

.topic-blue i:hover {
  cursor: pointer;
  transition: 200ms;
  color: #00529B;
}

.topic-red i:hover {
  cursor: pointer;
  transition: 200ms;
  color: #BE2C37;
}

.topic i {
  color: #D4D9DD;
  border: solid 3px;
  border-radius: 50%;
}

.topic-book-blue i {
  font-size: 24px;
  padding: 16px 17.5px 16px 17.5px;
  border: solid 4px;
  color: #00529B;
}

.topic-book-red i {
  font-size: 24px;
  padding: 16px 17.5px 16px 17.5px;
  border: solid 4px;
  color: #BE2C37;
}

.topic-yt i {
  padding: 6px 5px 6px 5px;
}

.topic-play-blue:hover {
  text-decoration: none;
  cursor: pointer;
  transition: 200ms;
  color: #00529B;
}

.topic-play-red:hover {
  text-decoration: none;
  cursor: pointer;
  transition: 200ms;
  color: #BE2C37;
}

.topic-play i {
  border: none;
  font-size: 28px;
}

/*topics.html*/
.new-topic-section {
  padding-top: 1rem;
  border-top: 2px solid #E9ECEF;
  margin-bottom: 3rem;
}


}
