  @media only screen and (min-width: 360px) {

.red-overlay {
  background-color: rgba(190, 44, 55, 0.9);
  z-index: 1;
}

.blue-overlay {
  background-color: rgba(0, 82, 155, 0.9);
  z-index: 1;
}

.card-img-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-card-height {
  max-height: 550px;
}

.main-content {
  min-width: 500px;
}

.topic-button {
  border-radius: 100px;
}

.open {
  margin-top: 0.25rem;
}

.open a:hover {
  text-decoration: none;
}

.video-list {
  margin-left: 78px;
}

.video-list .list-group .list-group-item {
  font-weight: 500;
  padding-left: 0px;
}

.video-list .list-group .list-group-item .d-inline-flex:hover > i,
.video-list .list-group .list-group-item .d-inline-flex:hover > p {
  text-decoration: none;
  cursor: pointer;
  transition: 200ms;
  color: #00529B;
}

.video-list .list-group .list-group-item:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.video-list .list-group .list-group-item p {
  margin-bottom: 0px;
  margin-left: 0.5rem;
}

.video-list .list-group .list-group-item .d-inline-flex p:hover ~ i{
  transition: 200ms;
  color: #00529B;
}

/*Modals*/
.modal-body {
  padding: 0px;
}

.modal-title {
  font-size: 1.5rem;
}

.description {
  font-weight: 500;
  margin-bottom: 0.5rem;
}



/*Adjust fontawesome checkmark colour*/
.list-check {
  color: #D4D9DD;
}

/*Topic Icons*/

.topic-list {
  border-bottom: 2px solid #F2F2F2;
  padding: 1rem 0rem 1rem 0rem;
}

.topic-blue i:hover {
  cursor: pointer;
  transition: 200ms;
  color: #00529B;
}

.topic i {
  color: #D4D9DD;
  border: solid 3px;
  border-radius: 50%;
}

.topic-book i {
  font-size: 24px;
  padding: 16px 17.5px 16px 17.5px;
  color: #00529B;
}

.topic-yt i {
  padding: 6px 5px 6px 5px;
}

.topic-play:hover {
  text-decoration: none;
  cursor: pointer;
  transition: 200ms;
  color: #00529B;
}

.topic-play i {
  border: none;
  font-size: 28px;
}


}
