* {
  box-sizing: border-box;
}

/*Colours*/
.white {
  color: white;
  background-color: white;
}

.navbarTextColor {
  color: #444444;
}

.blue {
  color: #1265A8;
  background-color: #1265A8;
}

/*Styles*/

.marginLeft {
  margin-left: auto;
}

@media only screen and (min-width: 300px) {
  .navbar {
    border-bottom: 1px solid #00529B;
  }

  .awards .col {
    text-align: center;
  }

  .awards .col p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
}
