* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Colours*/
.white {
  color: white;
  background-color: white;
}

.navbarTextColor {
  color: #444444;
}

.blueBackground {
  color: #1265A8;
  background-color: #1265A8;
}

.text-blue {
  color: #00529B;
}

.text-blue a:hover {
  color: #1265A8;
}

.text-red {
  color: #BE2C37;
}

.text-red:hover {
  color: #BE2C37;
}

/*Styles*/

.marginLeft {
  margin-left: auto;
}

@media only screen and (min-width: 360px) {
  .navbar {
    border-bottom: 1px solid #00529B;
    padding: 0px;
  }

  .navbar .navbar-text {
    color: black;
  }

  .navbar-collapse {
    height: 80px;
  }

  .navbar .disabled {
    opacity: 0.7;
    background-color: #ffffff !important;
    color: #444444 !important;
  }

  .navbar ul li a {
    padding: 28px 0 28px 0;
    font-size: 1rem;
  }

  .navbar .container .navbar-collapse ul li:hover {
    background-color: #1265A8;
    color: white;
    cursor: pointer;
  }

  .navbar .container .navbar-collapse ul li:hover > a {
    color: white;
  }

  /*Navbar Scroll Classes*/
  .smart-scroll {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  .scrolled-down {
     transform:translateY(-100%); transition: all 0.3s ease-in-out;
  }

  .scrolled-up {
     transform:translateY(0); transition: all 0.3s ease-in-out;
  }

  /*Scroll Classes End*/

  .awards .col {
    text-align: center;
    position: relative;
  }

  .awards .col .img {
    height: 256px;
    width: 256px;
  }

  .awards .col .textOverImage {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .awards .col p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }

  .container .card-deck {
    margin-top: 7rem;
    flex-flow: column wrap;
  }

  .container .card-deck .card .mt-auto {
    align-self: flex-start;
  }

  /*Footer Styling */
  /* Sticky footer styles
-------------------------------------------------- */
  :root {
    --footer-height: 270px;
  }
  .wrapper {
    min-height: calc(100vh - var(--footer-height));
  }

  .footer {
    margin-top: 5rem;
    height: var(--footer-height);
    width: 100%;
    background-color: rgba(233,236,239, 0.3);
  }

  .footer .d-flex .col {
    text-align: center;
    padding-top: 1.5rem;
  }

  .footer .d-flex .col p {
    margin-top: 1.5rem;
  }

  .footer .main {
    flex-flow: column wrap;
  }

  #sitemap {
    margin-top: 1.5rem;
  }

  /*Social Media Icons*/
  .social-icon {
    display: inline-block;
    width: 70px;
    height: 70px;
    background: #ffffff;
    margin: 10px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #00529B;
    overflow: hidden;
    position: relative;
  }

  .social-icon i {
    line-height: 70px;
    font-size: 26px;
    transition: 0.2s linear;
  }

  .social-icon:hover i {
    transform: scale(1.3);
    color: #ffffff;
  }

  .social-icon::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #00529B;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
  }

  .social-icon:hover::before {
    animation: socials 0.7s 1;
    top: -10%;
    left: -10%;
  }

  @keyframes socials {
    0%{
      left: -110%;
      top: 90%;
    }
    50%{
      left: 10%;
      top: -30%;
    }
    100%{
      top: -10%;
      left: -10%;
    }
  }

}

@media only screen and (min-width: 576px) {
  .container .card-deck {
    /*override bootstraps property "row wrap"*/
    flex-flow: column wrap;
  }

}

@media only screen and (min-width: 768px) {
  .container .card-deck {
    flex-flow: row wrap;
  }

  .footer .main {
    flex-flow: row wrap;
  }

}
