* {
  box-sizing: border-box;
}

/*Colours*/
.white {
  color: white;
  background-color: white;
}

.navbarTextColor {
  color: #444444;
}

.blueBackground {
  color: #1265A8;
  background-color: #1265A8;
}

/*Styles*/

.marginLeft {
  margin-left: auto;
}

@media only screen and (min-width: 300px) {
  .navbar {
    border-bottom: 1px solid #00529B;
    padding: 0px;
  }

  .navbar .navbar-text {
    color: black;
  }

  .navbar-collapse {
    height: 80px;
  }

  .navbar .disabled {
    opacity: 0.7;
    background-color: #ffffff !important;
    color: #444444 !important;
  }

  .navbar ul li a {
    padding: 28px 0 28px 0;
    font-size: 1rem;
  }

  .navbar .container .navbar-collapse ul li:hover {
    background-color: #1265A8;
    color: white;
    cursor: pointer;
  }

  .navbar .container .navbar-collapse ul li:hover > a {
    color: white;
  }

  .awards .col {
    text-align: center;
    position: relative;
  }

  .awards .col .img {
    height: 256px;
    width: 256px;
  }

  .awards .col .textOverImage {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .awards .col p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }

  .card-deck {
    margin-top: 7rem;
  }

  .container .card-deck .card .mt-auto {
    align-self: flex-start;
  }
}
